@model IEnumerable<DoulaServices.Models.DoMo.ListItem>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoMoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoulaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DoMoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoulaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
